@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/main.css" rel="stylesheet" />
<div class="inital-main">
    <header>
        <h2>Война на думи</h2>
        <a asp-controller="Level" asp-action="All">Играй</a>
    </header>
</div>